<div class="sidenav">
    <a href="/"> Main </a>
    <a href="/groceries"> Groceries </a>
    <a href="/pantry"> Pantry </a>
    <a href="/recipes"> Recipes </a>
    <!-- <a href="#"> Meals </a> -->
</div>