<div class="main">
    <h1>Grocery List</h1>
    <ul>
        <!-- Grocery List: -->
        <% groceries.forEach( grocery => { %>
        <li> <%= grocery.item %> </li>
        <% }) %>
    </ul>
</div>
