<div class="main">
    <h1>Meal Mates</h1>
    <form action="/" method="POST">
        <div class="form-group">
            <label for="ingredients">Search Item:</label>
            <input type="text" name="ingredients" class="form-control">
            <input type="submit">
        </div>
    </form>
    <ul>
        <!-- Main Meals List: -->
        <% recipes.forEach( recipes => { %>
        <li> 
           <div> <%= recipes.id %> </div>
           <div> <img src=" <%= recipes.img %> " alt="Img"> </div>
           <div> <%= recipes.title %> </div>
           <div> <%= recipes.ingredients %> </div>

        </li>
        <% }) %>
    </ul>
</div>
