<div class="main">
    <h1>Pantry List</h1>
    <ul>
        <!-- Grocery List: -->
        <% pantries.forEach( pantry => { %>
        <li> <%= pantry.item %> </li>
        <% }) %>
    </ul>

</div>