<div class="main">
    <h1>Recipe List</h1>
    <ul>
        <!-- Grocery List: -->
        <% recipes.forEach( recipe => { %>
        <li> <%= recipe.title %> </li>
        <% }) %>
    </ul>

</div>