<div class="main">
    <h1>Add a new recipe:</h1>
    <form action="/recipes" method="post">
        <div>
            <label for="title">Recipe Title:</label>
            <input type="text" name="title" id="title">
            <label for="serving">Serving:</label>
            <input type="number" name="serving" id="serving">
            <label for="ingrediants">Ingrediants:</label>
            <input type="text" name="ingrediants" id="ingrediants">
            <label for="img">Image URL:</label>
            <input type="text" name="img" id="img" value="test.img">
        </div>
        <input type="submit" value="Submit">
    </form>
</div>