<div class="main">
    <h1>Recipe:</h1>
    <h1> <%= recipe.title %> </h1>
    <a href="/recipes">Back</a>
    <a href="/recipes/<%- recipe.id %>/edit">Edit</a>
    <form action="/recipes/<%-recipe.id%>?_method=DELETE" method="post">
    <input type="submit" value="Delete" class="button" />
    </form>
</div>